@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Rubik', sans-serif;

  --primary-color: #8D634D;
  --secondary-color: #101B29;
  --edward-color: #ACB4B3;
  --kabul-color: #5A4543;

  color: var(--edward-color);
  background-color: var(--secondary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  margin: 2rem 0;
}

/* NAVBAR */

.logo {
  height: 15vh;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 1rem;
}

.logo span {
  color: var(--edward-color);
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
}

.logo-link {
  text-decoration: none;
  color: var(--primary-color);
}

/* HOMEPAGE */

.homepage {
  height: 100vh;
  background-image: url('./assets/el-gringo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.homepage-content {
  height: 85vh;
  flex-direction: column;
}

.homepage-content div {
  gap: 1em;
}

.homepage-content img {
  width: 5rem;
}

.homepage-content h2 {
  font-size: 2.5em;
}

.homepage-content h3 {
  color: var(--primary-color);
  font-size: 1.5rem;
}

button {
  color: var(--edward-color);
  background: var(--primary-color);
  padding: 1em 2em;
  border: .2em solid var(--primary-color);;
  border-radius: 2em;
  font-weight: bolder;
}

button:hover {
  background: transparent;
  color: var(--primary-color);
}

/* PREVIEWS */

.previews-page {
  flex-direction: column;
}

.previews-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
}

.preview-link {
  text-decoration: none;
  color: var(--edward-color);
}

.podcast-tile {
  flex-direction: column;
  text-align: center;
  gap: .5rem;
}

.podcast-img-container {
  position: relative;
  background-color: var(--edward-color);
  padding: .3rem;
  border-radius: .3rem;
  transition: all 3s ease;
}

.preview-img {
  max-width: 8rem;
}

.podcast-img-container:hover {
  background-color: var(--primary-color);
}

.podcast-img-container:hover img {
  opacity: .1;
}

.genre-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  position: absolute;
  opacity: 0;
  color: var(--secondary-color);
  font-weight: bolder;
}

.podcast-img-container:hover .genre-list {
  opacity: 1;
}

/* PODCAST */

.podcast-data {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.podcast-info,
.podcast-seasons {
  flex-direction: column;
  gap: 2rem;
}

.podcast-info {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.podcast-img {
  max-width: 12rem;
}

.episodes {
  margin: .5rem 0;
  gap: 2rem;
}

.season-link,
.desc-link {
  color: var(--primary-color);
  text-decoration: none;
}

.season-link:hover,
.desc-link:hover {
  color: var(--kabul-color);
}

/* D-R-Y */

.logo,
.homepage-content,
.homepage-content div,
.loading, .error,
.previews-page,
.podcast-tile,
.podcast-img,
.podcast-seasons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 .5rem;
}

.loading, .error {
  height: 85vh;
}